body{
    background-image: url(img/confuse.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
.container input{
    color: red;
}